;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Jul 15 13:06:54 2015
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("\\ref" "subref" "biblatex" "modular"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/" "~/Documents/projectSiegen/firstDraft/" "~/.emacs" "~/.eamcs" "~/Documents/projectSiegen/firstDraft/" "~/Documents/projectSiegen/firstDraft/Modular.bib" "~/Documents/projectSiegen/firstDraft/compilePDF" "~/Documents/projectSiegen/firstDraft/" "~/Documents/projectSiegen/README.md" "~/Documents/projectSiegen/firstDraft/.." "~/Documents/projectSiegen/firstDraft/Modular.bib"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/afs/tp.nt.uni-siegen.de/user/arora/.emacs"
  ".emacs"
  'emacs-lisp-mode
  nil
  217
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/afs/tp.nt.uni-siegen.de/user/arora/Documents/projectSiegen/firstDraft/contVarBellTest.tex"
  "contVarBellTest.tex"
  'latex-mode
  '(visual-line-mode)
  18658
  '(22734 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . iso-latin-9-unix) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 206
  "/afs/tp.nt.uni-siegen.de/user/arora/Documents/projectSiegen/firstDraft/Modular.bib"
  "Modular.bib"
  'bibtex-mode
  nil
  467
  '(1460 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (TeX-master . t)))

(desktop-create-buffer 206
  "/afs/tp.nt.uni-siegen.de/user/arora/Documents/projectSiegen/firstDraft/_region_.tex"
  "_region_.tex"
  'latex-mode
  '(visual-line-mode)
  8183
  '(1 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . iso-latin-9-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/afs/tp.nt.uni-siegen.de/user/arora/Documents/projectSiegen/firstDraft/compilePDF"
  "compilePDF"
  'fundamental-mode
  nil
  117
  '(92 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/afs/tp.nt.uni-siegen.de/user/arora/Documents/projectSiegen/README.md"
  "README.md"
  'fundamental-mode
  nil
  520
  '(9125 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

